.App {
  text-align: center;
}
.dark {
  background: var(--very-dark-blue);
  color: var(--white);
  transition: var(--transition);
}

.light {
  background: var(--very-light-gray);
  color: var(--very-dark-blue-text);
  transition: var(--transition);
}
.dark input {
  background: var(--dark-blue);
  color: var(--white);
  transition: var(--transition);
}
.light input {
  background: var(--very-light-gray);
  color: var(--very-dark-blue-text);
  transition: var(--transition);
}
.dark select {
  background: var(--dark-blue);
  color: var(--white);
  transition: var(--transition);
}
.light select {
  background: var(--very-light-gray);
  color: var(--very-dark-blue-text);
  transition: var(--transition);
}