@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    
}
:root {
    --dark-blue: hsl(209, 23%, 22%);            /*(Dark Mode Elements) */
    --very-dark-blue: hsl(207, 26%, 17%);         /*(Dark Mode Background) */
    --very-dark-blue-text: hsl(200, 15%, 8%);   /*(Light Mode Text) */
    --dark-gray: hsl(0, 0%, 52%);               /*(Light Mode Input) */
    --very-light-gray: hsl(0, 0%, 98%) ;       /*(Light Mode Background) */
    --white: hsl(0, 0%, 100%);                 /* (Dark Mode Text & Light Mode Elements) */

    --transition: all 400ms ease-in-out;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    background: var(--very-light-gray);
}
.container {
    width: var(--container-width-sm);
    margin: 0 auto;
    
}

.info{
    padding: 30px;
}
.info h1{
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.image img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  
}
article {
    background: var(--white);
    color: var(--very-dark-blue-text);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: var(--transition);
}
.dark#main {
    background: var(--very-dark-blue);
    color: var(--white);
    transition: var(--transition);
}
.dark article {
    background: var(--dark-blue);
    color: var(--white);
    transition: var(--transition);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}



/* media query (medium devices)*/
@media screen and (max-width: 1024px) {
    .main-container{
        grid-template-columns: repeat(2, 350px);
        justify-content: center;
        gap: 1rem;
    }

 }

 
 
 
 /* media query (small devices)*/
 @media screen and (max-width: 600px) {
     .main-container{
         grid-template-columns: 335px;
         justify-content: center;
         gap: 1rem;
     }
     
 }
   
